---
# Global variables
user: ${user}

# Block Volume /data variables
volume_iqn: ${volume_iqn}
volume_ipv4: ${volume_ipv4}
volume_port: ${volume_port}
volume_chap_username: ${volume_chap_username}
volume_chap_password: ${volume_chap_password}
volume_device_name: ${volume_device_name}

# VS Code Server
vscode_version: ${vscode_version}
